SpeechRecognition==3.10.4
PyAudio==0.2.14
Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-SocketIO==5.3.7
setuptools==74.1.0
deep-translator==1.11.4
deepl==1.18.0
numpy==1.26.4
openai-whisper==20231117
torch==2.3.1
