body {
    font-family: Lato;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    position: relative;
}

nav#navBar {
    background: linear-gradient(45deg, #007BFF, #03c0ff); 
    color: white;
    font-family: lato;
    padding: 10px;
    text-align: center;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.center-box {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 20px;
}

.footer {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; 
    background-color: #f1f1f1; 
    gap: 30px; 
    padding: 15px;
}

#return {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #007BFF, #03c0ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
} 

#return:hover {
    background: linear-gradient(60deg, #87878758, #bab6b6); 
    box-shadow:  0 6px 12px rgba(0, 0, 0, 0.2); 
}

.record_image {
    max-width: 55px;  
    height: auto;  
    transition: transform 0.2s ease;  
}

.record_image:hover {
    transform: scale(1.5);  
}

.record_image:active {
    transform: scale(0.5);  
}

.record_image.recording {
    border: 2px solid red;
}
