body {
    font-family: Lato;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    background: linear-gradient(45deg, #007BFF, #03c0ff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-brand{
    margin-right: auto;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 100px); 
}

.message {
    padding: 5px 10px;  
    display: flex;
    align-items: center;
}

.bi {
    margin-right: 5px;  
}

.message-container {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: fit-content;
    border: 1px solid #ccc; 
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1),
        inset 0 -1px 2px rgba(0, 0, 0, 0.2); 
}

.message.user {
    align-self: flex-end;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: Lato;
    border-bottom: 2px dashed black;
    word-wrap: normal;
    margin-bottom: 8px;
}

.message.translation {
    align-self: flex-start;
    padding: 10px;
    word-wrap: normal;
}

.message.generated {
    align-self: flex-end;
    background: linear-gradient(45deg, #e1e1e1, #e4e0e087);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: rgb(60, 60, 60);
    font-size: 15px; 
    word-wrap: normal;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #bbbcbd, #dcecf1);
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100px;
}

#scenario, #start, #clearConversation, #mic-btn {
    white-space: nowrap;
    text-align: center;
    transition: width 0.3s ease;
    overflow: hidden;
    height: 40px;
    margin-right: 8px;
}

#scenario:hover, #start:hover, #clearConversation:hover {
    background: linear-gradient(60deg, #ffe100, #fff201); 
    box-shadow:  0 6px 12px rgba(0, 0, 0, 0.2); 
    white-space: nowrap;
    font-weight: bold;
}

#mic-btn:hover {
    background: linear-gradient(60deg, #ffe100, #fff201); 
    box-shadow:  0 6px 12px rgba(0, 0, 0, 0.2); 
    white-space: nowrap;
    font-weight: bold;
}

.selection {
    position: relative;
    display: inline-block;
}

.select_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    z-index: 1;
    z-index: 100;
}

.select_content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.select_content a:hover {
    background-color: #aba9a9; 
}

.show {
    display: block;
}
